html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.ember-view {
  height: 100%;
}

body {
  background-color: rgb(235, 235, 235);
}

.cube-canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.scale-slider {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.scale-slider-wrapper {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

