html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(235, 235, 235);
}

.cube-canvas{
  flex: 1;
  overflow: hidden;
}

body > .ember-view {
  height: 100%;
}

.canvas-and-controls-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

